body {
    background-color: #F0F3FD !important;
}

.candidateInfo {
    margin: 50px;
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child) {
    margin-top: 0.5rem !important;
   
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child) {
    margin: 0 0 0.8rem 0 !important;
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child) {
    margin-top: 0.5rem !important;

}

.candidate {
    color: #A9A9A9;
}

p {
    margin-bottom: .3rem !important;

}

.table {
    background-color: #fff;
}